{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "destructuring": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "always-multiline",
    "semi": 2
  }
}
